 h1, .project-page-container {
     margin-top: 1em;
     
 }
.projects-container {
    h1 {
        color: $var-pink;
        margin-bottom: 0 !important;
    }

    h2 {
        color: $var-yellow;
    }
}

.subtitle {
    margin-top:0;
    font-style:italic;
}

.animal-crossing-hero {
    width: 100%;
    content:url(../images/projects/AC/hero.jpg);
    margin-bottom: 1em;

    @include for-size(tablet){
        width: unset;
        height: 400px
    }
}

.project-spotter-carousel-0 {
    height: 400px;
    content:url(../images/projects/spotter/Login.png)
}

.project-spotter-carousel-1 {
    height: 400px;
    content:url(../images/projects/spotter/Gym.png)
}

.project-spotter-carousel-2 {
    height: 400px;
    content:url(../images/projects/spotter/Friend.png)
}


