
 
  .display-picture {
    border-radius: 250px;
    width: 50%;
  }

  .contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    a {
      color: white;
      text-decoration: none;
      display: flex;
      flex-direction: row;
      align-items: center;

      transform-origin: bottom;
      animation-iteration-count: 1;
      animation-duration: 2s;
      
      animation-timing-function: ease;

      &:hover {
        animation-name: bounce-4;
        -moz-animation-name: bounce-4;
                color: $var-pink;

        }
    }

    .contact-details {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 50%;
    }
  }

  .resume-button {
    border: 1px solid white;
    padding: 0.25em 0.5em;
    margin-top: 1em;
    
  }