$var-black: #080705;
$var-white: #FCFCFC;
$var-pink: #F7567C;
$var-yellow: #F9DC5C;
$var-blue: #92DCE5;
$var-green: #77DD77;

h1,h2,h3 {
    padding:0;
    margin: 0;
    display: flex;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif
}

.page-title {
    width: fit-content;
    border-bottom: solid 2px $var-yellow;

    svg {
        display: none;
    }

    @include for-size(tablet){
        svg {
            display: block;
        }
    }
}

.info-section-container {
    h2 {
        margin-top: 0 !important;
    }
}

a {
    color: inherit;
    text-decoration: none;
}
