@import 'master';
 h1 {
     margin-top: 1em;
 }
.projects-container {
    h1 {
        color: $var-pink;
    }

    h2 {
        color: $var-yellow;
    }
}

.project-spotter-carousel-0 {
    height: 400px;
    content:url(../images/projects/spotter/Login.png)
}

.project-spotter-carousel-1 {
    height: 400px;
    content:url(../images/projects/spotter/Gym.png)
}

.project-spotter-carousel-2 {
    height: 400px;
    content:url(../images/projects/spotter/Friend.png)
}


